@font-face {
    font-family: "font1";
    src: url(JacquesFrancoisShadow-Regular.ttf);
}
@font-face {
    font-family: "font2";
    src: url(Play-Regular.ttf);
}
@font-face {
    font-family: "font3";
    src: url(OriginalSurfer-Regular.ttf);
}

.text1{
    font-family: font1;
    font-size: 20px;
}

.text2{
    font-family: font3;
    font-size: 16px;
}

.text3{
    font-family: font2;
    font-size: 16px;
}
